@font-face {
  font-family: "DinRoundPro";
  src: url(./DINRoundPro.ttf);
}

body {
  font-family: "DinRoundPro";
}

.submit {
  box-shadow: 0 2px 0 #188cc5;
}

.submit:active {
  transform: translateY(2px);
}

.comment {
  border: 2px solid lightslategrey;
  border-radius: 5px;
  padding: 6px;
  margin-bottom: 10px;
  background-color: #d1e3ff;
}
